body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input#flap {
    display: none;
  }
  
  .envelope-container {
    position: relative;
  }
  
  .envelope-back {
    position: relative;
    width: 320px;
    height: 200px;
    background-color: #e1e1e1;
    z-index: 3;
  }
  
  .envelope-back:before {
    content:"";
    position: absolute;
    background-color: rgba(0,0,0,0.07);
    width: 320px;
    height:10px;
    border-radius:50%;
    top:220px;
  }
  
  .card {
    position: absolute;
    width:270px;
    min-height: 180px;
    height: auto;
    background-color: white;
    top:10px;
    left:10px;
    display: none;
    transition: .1s;
    z-index:2;
    cursor: pointer;
    padding: 15px;
  }
  
  .flap {
    position: absolute;
    width:0;
    height:0;
    border-top: 110px solid #ededed;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    top:0;
    left:0;
    cursor: pointer;
    transition: .3s;
    transform-origin: top;
    z-index:4;
  }
  
  #flap:checked + .flap {
    transform: rotateX(180deg);
    z-index:1;
  }
  
  #flap:checked ~ .card {
    z-index:4;
    transform: translateY(-60px);
    display: block;
  }