#form-container{
    background-color: #fff;
    width: 80vw;
    height: auto;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
    padding: 20px;
    border-radius: 20px;
}

#pen-static{
    height: 10vh;
    display: inline;
    vertical-align: middle;
}

#form h1{
    display: inline;
    vertical-align: middle;
}

#form h2{
    margin: 20px auto 0px auto;
}

.text-input, .text-input:focus, .text-input:focus-visible{
    width: 50%;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    border-width: 2px;
    border-color: #000;
    outline: none;
}

#text-box, #text-box:focus-visible{
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    border-width: 2px;
    border-color: #000;
    outline: none;
    font-family: Bitter;
}