#form-container{
    background-color: #ffffff;
    width: 80vw;
    height: auto;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
    padding: 20px;
    border-radius: 20px;
    display: flex;
}

#static-pen{
    height: 10vh;
    display: inline;
    vertical-align: middle;
}

form{
    display: inline-block;
}

#form h1{
    display: inline;
    vertical-align: middle;
}

#form h2{
    margin: 20px auto 0px auto;
}

.text-input, .text-input:focus, .text-input:focus-visible{
    width: 40vw;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #000;
    outline: none;
    font-family: Bitter;
}

#text-box, #text-box:focus-visible{
    width: 40vw;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #000;
    outline: none;
    font-family: Bitter;
}

#note-preview{
    margin: auto;
    height: auto;
    display: inline-block;
    width: 30vw;
    background-color: #fff;
    box-shadow: 0px 0px 5px #919191;
    padding: 10px;
    border-radius: 2px;
}

.form-check{
    margin-bottom: 15px;
}

.stamp-preview{
    height: 50px;
    vertical-align: middle;
}

.form-check-input{
    vertical-align: middle;
}

#submit {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    vertical-align: middle;
    text-decoration: none;
}

#share-link{
    all: unset;
    color: black;
    text-decoration: none;
}

#copy-icon{
    height: 25px;
    display: inline;
    vertical-align: middle;
    padding: 0px 5px;
}

.swal-text{
    font-family: Bitter-Medium;
}

.swal-button, .swal-button:not([disabled]):hover{
    background-color: var(--gray);
    border: none;
}

@media (max-width: 938px){
    #form-container{
        margin: 20px auto;
        display: block;
    }

    #note-preview{
        margin: 20px 0px;
        width: 95%;
    }
    
    .text-input, #text-box{
        width: 80%;
    }
}
