.red h3{
    color: #de3232;
}
.orange h3{
    color: #f48737;
}
.yellow h3{
    color: #f1cc25;
}
.green h3{
    color: #8ef063;
}
.blue h3{
    color: #63acf0;
}
.purple h3{
    color: #d463f0;
}
.pink h3{
    color: #fd7bb7;
}
.black h3{
    color: #000;
}