@font-face {
    font-family: Bitter;
    src: url(../assets/fonts/Bitter-Light.ttf);
}

@font-face {
    font-family: Bitter-Medium;
    src: url(../assets/fonts/Bitter-Medium.ttf);
}

:root{
    font-family: Bitter;
    --gray: #b9b9b9;
}

button{
    all: unset;
}

Link {
    all: unset;
}

body{
    margin: 0px;
    background-color: var(--gray);
}

.container {
    display: flex;           
    flex-direction: column;   
    justify-content: center;   
    align-items: center; 
    height: 100vh;
}

.box {
    text-align: center;
}

#pen{
    height: 10vh;
    display: block;
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
0% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
50% {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
100% {
 -webkit-transform: scale(1);
transform: scale(1);
}
}
